<!DOCTYPE html>
<html>
  <head>
    <title>DreamBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href = "/">DreamBase</a>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("他の人の夢を見る", "/posts/index") %>
          </li>
          <li>
            <%= link_to("夢を記録する", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: "post"}) %>
          </li>
        <% else %>
          <li>
            <a href = "/about">DreamBaseって何？</a>
          </li>
          <li>
            <a href = "/users/new">新規登録</a>
          </li>
          <li>
            <a href = "/login">ログイン</a>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>

</html>
